.mobile {
  display: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h1 a {
  font-size: 40px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.nav-container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.nav-container .links a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.nav-container .links a:hover {
  color: rgba(147,107,249,255);
}
.nav-container .btns {
  display: flex;
  gap: 15px;
}
.nav-container .btns a  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: rgb(225, 221, 221);
}
.nav-container .btns a:hover {
  background-color: rgba(147,107,249,255);
  color: white;
}
@media (max-width: 1200px) {
  #close {
    position: absolute;
    top: 45px;
    right: 45px;
  }
  .nav-container .links,
  .nav-container .btns {
    display: none;
  }
  .nav-container .mobile {
    display: block;
  }
  .nav-container .mobile .toggle-button {
    background-color: inherit;
    border: none;
    width: auto;
  }
  .nav-container h1 {
    font-size: 18px;
  }
  .nav-container .mobile .menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column; 
    position: absolute;
    background-color: #141414;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .nav-container .mobile .menu .Links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
  }
  .nav-container .mobile .menu .Btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
  }
  .nav-container .mobile .menu .Btns a {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: "poppins";
    background-color: rgba(147,107,249,255);
    color: white;
  }
  .nav-container .mobile .menu .Links a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
