.mobile {
  display: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h1 {
  font-size: 40px;
  font-weight: 700;
}
.nav-container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.nav-container .links a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.nav-container .links a:hover {
  color: rgba(147,107,249,255);
}
.nav-container .btns {
  display: flex;
  gap: 15px;
}
.nav-container .btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.nav-container .btns button:hover {
  background-color: rgba(147,107,249,255);
  color: white;
}
@media (max-width: 768px) {
  .nav-container .links,
  .nav-container .btns {
    display: none;
  }
  .nav-container .mobile {
    display: block;
  }
  .nav-container .mobile .toggle-button {
    background-color: inherit;
    border: none;
    width: auto;
  }
  .nav-container h1 {
    font-size: 18px;
  }
  .nav-container .mobile .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: auto;
    position: absolute;
    right: 25px;
    top: 70px;
  }
  .nav-container .mobile .menu .Links,
  .nav-container .mobile .menu .Btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .nav-container .mobile .menu .Links a {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  .nav-container .mobile .menu .Links a:hover,
  .nav-container .mobile .menu .Btns button:hover {
    color: rgba(147,107,249,255);
  }
  .nav-container .mobile .menu .Btns button {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
  }
  .nav-container .mobile .menu .Btns button:hover {
    background-color: rgba(147,107,249,255);
    color: white;
  }
}
